<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.wx.mapper.NaireMapper">
    <!--更新表达发布状态-->
    <update id="updateStatusById">
        update naire
        set n_status = case n_status when 0 then 1 when 1 then 0 end
        where n_id = #{nId}
    </update>
    <!--分页查询-->
    <select id="page" resultType="com.example.wx.Entity.Naire">
        select *
        from naire
        where n_deleteflag = '00'
        <if test="naire.nTitle != null and '' != naire.nTitle">
            and n_title like concat('%', #{naire.nTitle},'%')
        </if>
        <if test="naire.nStatus != null and '' != naire.nStatus">
            and n_status = #{naire.nStatus}
        </if>
        <if test="naire.nDeadlineStr != null and '' != naire.nDeadlineStr">
            and n_deadline >= now()
        </if>

    </select>
    <!--表单标题select-->
    <select id="selectNaireNames" resultType="com.example.wx.Entity.SelectEntity">
        select distinct n_id    as value,
                        n_title as name
        from naire
    </select>
</mapper>
